<style>
    .main-div-margin{
        margin-top: 10px;
        border-radius: 15px;

    }

    .input-type-custom{
        max-width: 50%;
        display: inline-block;
        border-color: black;
        border-width: 1.6px;
    }

    .left-input-box{
        margin-right: 3px;;
    }

    .checkbox-div{
        justify-content: center;
        align-items: center;
        /* display:flex;
        flex-direction:column */
    }
    .form-class{
        margin-top:25px;
    }

    .image-class{
        height:400px;
        width:500px;
        margin-top:100px;
        margin-left:40px;
        
    }



</style>

<div class="container-fluid d-flex margin-to-header mx-1">
    <div class="w-50 main-div-margin border border-dark border-2">
        <h1 class="text-center mt-3 fs-3 mb-2">Register Your Worker account</h1>
    <form class="mb-3 mx-5 form-class">
        <div class="mb-3 row">
          <input type="email" class="form-control input-type-custom col mx-1" id="exampleInputEmail1" name="firstname" placeholder="First name">
          <input type="text" class="form-control input-type-custom col mx-1" id="exampleInputEmail1" name="lastname" placeholder="Last name">  
        </div>

        <div class="mb-3 row">
            <input type="text" class="form-control input-type-custom col mx-1" id="exampleInputEmail1" name="username" placeholder="Username">
            <input type="email" class="form-control input-type-custom col mx-1" id="exampleInputEmail1" name="email" placeholder="Email">
        </div>

        <div class="mb-3 row">
            <input type="password" class="form-control input-type-custom col mx-1" id="exampleInputEmail1" name="password" placeholder="Password">
            <input type="text" class="form-control input-type-custom col mx-1" id="exampleInputEmail1" name="role" placeholder="This one should be hiden with user role value">
        </div>

          <div class="mb-3 row">
            <input type="text" class="form-control input-type-custom col mx-1" id="exampleInputEmail1" name="gender" placeholder="should be a radio button">
            <input type="text" class="form-control input-type-custom col mx-1" id="exampleInputEmail1" name="phone" placeholder="phone">
        </div>

          <div class="mb-3 row">
            <input type="text" class="form-control input-type-custom col mx-1" id="exampleInputEmail1" name="baseDistrict" placeholder="select option">
            <input type="text" class="form-control input-type-custom col mx-1" id="exampleInputEmail1" name="baseProvince" placeholder="select option for province">
        </div>

        <div class="mb-3 row">
            <input type="text" class="form-control input-type-custom col mx-1" id="exampleInputEmail1" name="services" placeholder="services">
            <input type="text" class="form-control input-type-custom col mx-1" id="exampleInputEmail1" name="availability" placeholder="availability">
        </div>

        <div class="mb-3 row">
            <input type="text" class="form-control input-type-custom col mx-1" id="exampleInputEmail1" name="experienceDescription" placeholder="experience description">
            <input type="text" class="form-control input-type-custom no-padding col mx-1" id="exampleInputEmail1" name="city" placeholder="city">
        </div>

        <div class="mb-3 row">
            <div class="form-check col checkbox-div">
                <input type="checkbox" class="form-check-input border border-dark border-2 input-type-custom" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I aggree to terms and conditions <a href="#">Terms and conditions</a></label>
                
              </div>
        </div>

        <div>
            <p class="mb-3 fw-normal">Are you a User?<a href="user/register"><span>Register as User</span></a></p> 
        </div>

        <div class="row">
            <button type="submit" class="btn btn-success col mx-1">Register</button>
            <button type="reset" class="btn btn-danger col">Reset Form</button>
        </div>
      </form>
    </div>

    <div class="row mx-4">
        <div class="col-6 align-items:center">
            <img src="assets/login6.jpg" class="image-class">
        </div>
    </div>

</div>


