<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<style>
    .div-word-wrap{
        word-wrap: break-word;
    }

    .div-img{
        width:500px;
        height:300px;
        margin-left: 100px;
        
    }

    hr {
      border: none;
      height: 2px; 
      background-color: #49ac49; 
      margin-right:30px;
      margin-left: 30px; 
    }

    .font-size-job-card{
        font-size: 14px;
    }

    .flex-container {
    display: flex;
    flex-wrap: wrap;

    }

    .child-div {
    flex: 1 1 50%; /* This allows two items per row */
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    
    }

</style>

<div>
    <header></header>
</div>

<div class="d-flex justify-content-between border border-dark border-1 py-2 container-fluid">
    <div class="mx-5">
        sort jobs by:
    </div>

    <div class="mx-5 d-flex">
        Province:
    </div>

    <div class="mx-5 d-flex">
        district:
    </div>

    <div class="mx-5 d-flex">
        city:
    </div>
    
</div>

<div class="container-fluid d-flex">

    <div class="div-word-wrap w-50 mx-2 mt-5">
        <h1 class="mb-4">Connecting <span class="text-success">Talent</span> with <span class="text-success">Opportunity</span></h1>
        Discover a world of opportunities at workiez! Here, you can find a wide variety of jobs that 
        suit your skills and interests. Whether you're a seasoned professional or just starting out, our platform 
        connects you with employers looking for talent like yours. Start your job search today, apply for 
        positions that excite you, and embark on a rewarding career journey. Earn money doing what you love and 
        take the next step towards your professional goals with us<br>
    
        <div class="mt-4">
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#jobCreatePost">Post a job</button>
        </div>
    </div>

    <div class="w-50 mx-2">
        <div>
            <img src="assets/login11.jpg" alt="" class="div-img mt-3">
        </div>
    </div>

</div>

<hr>

<div class="container-fluid">
    <h1 class="text-center mb-3">Jobs</h1>
</div>

<div class="container-fluid">
    <div class="col-12">

        <div class="border border-2 border-dark w-25 mx-2" *ngFor="let job of jobs">
            <div class="d-flex justify-content-between">
                <div class="mx-2 mt-3">
                    <span class="fs-4 fw-bold">{{job.description}}</span><br>
                    <span class="fs-6">{{job.JobName}}</span>
                </div>

                <div class="mt-2 mx-2 d-flex justify-content-center align-items-center">
                    <span>{{job.creationDateTime}}</span>
                </div>
            </div>

            <div class="mt-2 d-flex justify-content-between">
                <div class="mx-2 border border-dark border-2 px-1 rounded-5 py-1 font-size-job-card">
                    {{job.locationProvince}}
                </div>

                <div class="mx-2 border border-dark border-2 px-1 rounded-5 py-1 font-size-job-card">
                    {{job.locationDistrict}}
                </div>

                <div class="mx-2 border border-dark border-2 px-1 rounded-5 py-1 font-size-job-card">
                    {{job.city}}
                </div>
              
            </div>

            <div class="mt-4 d-flex ">
                <div class="d-flex mx-4">
                    <span class="material-symbols-outlined">person</span>
                    {{job.user.firstname}}
                </div>

                <div class="d-flex mx-4">
                    <span class="material-symbols-outlined">person</span>
                    {{job.user.phone}}
                </div>
            </div>

            <div class="d-flex mt-4 mb-3">
                <button type="button" class="btn btn-success w-50 mx-2 btn1" data-bs-toggle="modal" data-bs-target="#addApplication" >Apply</button>
                <button class="btn btn-dark w-50 mx-2 btn1">View More</button>

            </div>
        </div>
    </div>
</div>

<div class="mt-5">
    <footer></footer>
</div>

<!--application model-->
<div class="modal" tabindex="-1" id="addApplication">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="" #applicationForm="ngForm" (ngSubmit)="createApplication(applicationForm)">
                <div class="mb-2">
                  <label for="JobName" class="form-label">Application Name (include your name and telephone as application name)</label>
                  <input type="text" class="form-control" ngModel name="applicationName">
                </div>
                <div class="mb-2">
                  <label for="description" class="form-label">Worker</label>
                  <input type="text" class="form-control" ngModel name="worker" [(ngModel)]="worker">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Job</label>
                    <input type="text" class="form-control" ngModel name="job">
                </div>
                <div class="mb-3">
                    <label for="input1" class="form-label">Application Status</label>
                    <input type="text" class="form-control" ngModel name="applicationStatus">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Applications Date and Time </label>
                    <input type="text" class="form-control" ngModel name="applicationDateAndTime">
                </div>

                <!-- <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!--job creation model-->
<div class="modal fade" tabindex="-1" id="jobCreatePost">
    <<div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="" #jobPostForm="ngForm" (ngSubmit)="createJob(jobPostForm)">
                <div class="mb-2">
                  <label for="JobName" class="form-label">Job name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" ngModel name="JobName">
                </div>
                <div class="mb-2">
                  <label for="description" class="form-label">Description</label>
                  <input type="text" class="form-control" ngModel name="description">
                </div>
                <div class="mb-3">
                    <input type="hidden" class="form-control" [(ngModel)]="jobUser" ngModel name="user" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="input1" class="form-label">locationDistrict</label>
                    <select class="form-select input-type-custom col" aria-label="Default select example" name="input1" [(ngModel)]="district" (ngModelChange)="handleDistrictValue($event)">
                        <option selected>Select District</option>
                        <option value="1">AMPARA</option>
                        <option value="2">ANURADHAPURA</option>
                        <option value="3">BADULAA</option>
                        <option value="4">BATTICALOA</option>
                        <option value="5">COLOMBO</option>
                        <option value="6">GALLE</option>
                        <option value="7">GAMPAHA</option>
                        <option value="8">HAMBANTHOTA</option>
                        <option value="9">JAFFNA</option>
                        <option value="10">KALUTHARA</option>
                        <option value="11">KANDY</option>
                        <option value="12">KEGALLE</option>
                        <option value="13">KILINOCHCHI</option>
                        <option value="14">KURUNEGALA</option>
                        <option value="15">MANNER</option>
                        <option value="16">MATALE</option>
                        <option value="17">MATARA</option>
                        <option value="18">MONARAGALA</option>
                        <option value="19">MULLAITIVU</option>
                        <option value="20">NUWARA_ELIYA</option>
                        <option value="21">POLLANNARUWA</option>
                        <option value="22">PUTTALAM</option>
                        <option value="23">RATHNAPURA</option>
                        <option value="24">TRINCOMALEE</option>
                        <option value="25">VAVUNIYA</option>
                    </select>
                    <input type="hidden" class="form-control" [(ngModel)]="district" ngModel name="locationDistrict" id="exampleInputPassword1">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Location Province</label>
                    <select class="form-select input-type-custom col" name="input2" [(ngModel)]="province" ngModel (ngModelChange)="handleProvinceValue($event)">
                        <option selected>Select District</option>
                        <option value="1">CENTRAL</option>
                        <option value="2">EASTERN</option>
                        <option value="3">NORTH_CENTRAL</option>
                        <option value="4">NORTHERN</option>
                        <option value="5">NORTH_WESTERN</option>
                        <option value="6">SABARAGAMUWA</option>
                        <option value="7">SOUTHERN</option>
                        <option value="8">UVA</option>
                        <option value="9">WESTERN</option>
                    </select>
                    <input type="hidden" class="form-control" [(ngModel)]="province" ngModel name="locationProvince" id="exampleInputPassword1">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Location City</label>
                    <input type="text" class="form-control" ngModel name="city" id="exampleInputPassword1">
                  </div>

                  <div class="mb-3">
                    <input type="hidden" class="form-control" [(ngModel)]="jobStatus" ngModel name="jobStatus" id="exampleInputPassword1">
                  </div>

                  <div class="mb-3">
                    <input type="hidden" class="form-control" [(ngModel)]="dateTime" ngModel name="creationDateTime" id="exampleInputPassword1">
                  </div>

                <!-- <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
