<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<style>
    .div-word-wrap{
        word-wrap: break-word;
    }

    .header-div-margin{
        margin-left: 100px;
        
    }

    .header-icon-margin{
        margin-top: 3px;
    }

    .a-custom {
        text-decoration: none;
        color:black
    }

    .fixed-size-scrollable {
      width: 300px; /* Set the width of the div */
      height: 200px; /* Set the height of the div */
      border: 1px solid #000; /* Optional: Add a border for visibility */
      overflow-y: auto; /* Enable vertical scrolling */
      overflow-x: hidden; /* Disable horizontal scrolling */
    }

    .divs-height{
        height: 400px;
    }

</style>

<div class="container-fluid">
    <div class="d-flex border-bottom border-dark border-2">
        <div class="div-word-wrap my-auto w-25 my-auto">
            <h3 class="text-success">Welcome👋</h3>
            {{worker.firstname}}        
        </div>

        <div class="text-center w-50 div-word-wrap my-auto header-div-margin">
            <span class="fs-2"><a href="#" class="a-custom">Workiez </a></span> <span class="fs-5 text-success">worker</span>
        </div>

        <div class="w-25 div-word-wrap my-auto header-div-margin d-flex justify-content-center align-items-center">
            <div class="mx-2">
                <span class="material-symbols-outlined mt-2">
                    <a href="" class="a-custom">home</a>
                </span>
            </div>

            <div class="mx-2">
                <div class="dropdown">
                    <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-symbols-outlined mt-2">
                            settings
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                      <li><a class="dropdown-item" href="#">Delete Account</a></li>
                      <li><a class="dropdown-item" href="#">Report somthing</a></li>
                    </ul>
                  </div>
            </div>
        </div>
            
    </div>

    <div>
        <div class="border border-2 border-dark mt-3 d-flex ">
            
            <div class="fixed-size-scrollable w-50 mx-2 col divs-height">
                <div class="">
                    <h3 class="text-center">{{worker.username}}</h3>
                </div>

                <div class="">
                    name: {{worker.firstname}} {{worker.lastname}}<br>
                    email: {{worker.email}}<br>
                    District: {{worker.baseDistrict}}<br>
                    Province: {{worker.baseProvince}}<br>
                    City: {{worker.baseCity}}<br>
                    Phone: {{worker.phone}}<br>
                    <!-- Services {{worker.services[0].serviceName}}, {{worker.services[1].serviceName}}, {{worker.services[2].serviceName}} , {{worker.services[3].serviceName}}<br> -->
                    experience description: {{worker.experienceDescription}}<br>
                </div>
            </div>
                
            <div class="fixed-size-scrollable w-50 mx-2 divs-height">
                <div class="">
                    <h3 class="text-center">Popular jobs</h3>
                </div>

                <div class="container">
                    <div class="row" >
                            <div class="border border-1 border-dark col-6 mb-2 margin-for-job-div" *ngFor="let job of jobs">
                                <h4>{{job.description}}</h4>
                                <span>{{job.user.username}}</span><br>
                                <span>{{job.locationDistrict}} , {{job.locationProvince}} , {{job.city}}</span><br>
                                <span>{{job.creationDateTime}}</span><br>
                                <span>phone: {{job.user.phone}}</span><br>
                                <button class="btn btn-success mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#addApplication" (click)="setCurrentJob(job)">Apply</button>

                            </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="border border-2 border-dark d-flex mt-2">
            <div class="fixed-size-scrollable w-50 mx-2 divs-height">
                <div class="">
                    <h3 class="text-center">notifications</h3>
                </div>
            </div>


            <div class="fixed-size-scrollable w-50 mx-2 divs-height">
                <h3 class="text-center">completed jobs</h3>
            </div>
        </div>
    </div>

    <div>pending jobs</div>
    <div>explore jobs , jobs completion history eka gana podi div eka</div>
    <div>about eka</div>

</div>

<!--application model-->
<div class="modal" tabindex="-1" id="addApplication">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Apply for this job</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="" #applicationForm="ngForm" (ngSubmit)="createApplication(applicationForm)">
                <div class="mb-2">
                  <label for="JobName" class="form-label">Application Name (include your name and telephone as application name)</label>
                  <input type="text" class="form-control" ngModel name="applicationName">
                </div>
                <div class="mb-2">
                  <label for="description" class="form-label">Worker</label>
                  <input type="text" class="form-control" ngModel name="worker" [(ngModel)]="worker">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Job</label>
                    <input type="text" class="form-control" ngModel name="job" [(ngModel)]="currentJob">
                </div>
                <div class="mb-3">
                    <!-- <label for="input1" class="form-label">Application Status</label> -->
                    <input type="hidden" class="form-control" ngModel name="applicationStatus" [(ngModel)]="status">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Applications Date and Time </label>
                    <input type="text" class="form-control" ngModel name="applicationDateAndTime" [(ngModel)]="date">
                </div>

                <!-- <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
