<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<style>
    .div-word-wrap{
        word-wrap: break-word;
    }

    .image-size{
        font-size: 20px;
    }

    .header-div-margin{
        margin-left: 100px;
        
    }

    .header-icon-margin{
        margin-top: 3px;
    }

    .a-custom {
        text-decoration: none;
        color:black
    }

    .fixed-size-scrollable {
      width: 300px; /* Set the width of the div */
      height: 200px; /* Set the height of the div */
      border: 1px solid #000; /* Optional: Add a border for visibility */
      overflow-y: auto; /* Enable vertical scrolling */
      overflow-x: hidden; /* Disable horizontal scrolling */
    }

    .divs-height{
        height: 400px;
    }

</style>

<div class="container-fluid">
    <div class="d-flex border-bottom border-dark border-2">
        <div class="div-word-wrap my-auto w-25 my-auto">
            <h3 class="text-success">Welcome👋</h3>
            {{worker.firstname}}        
        </div>

        <div class="text-center w-50 div-word-wrap my-auto header-div-margin">
            <span class="fs-2"><a href="#" class="a-custom">Workiez</a></span> <span class="fs-5 text-success">worker</span>
        </div>

        <div class="w-25 div-word-wrap my-auto header-div-margin d-flex justify-content-center align-items-center">
            <div class="mx-4">
                <span class="material-symbols-outlined mt-2">
                    <a href="" class="a-custom">home</a>
                </span>
            </div>

            <div class="mx-4">
                <span class="material-symbols-outlined mt-2">
                    <a href="" class="a-custom">work</a>
                </span>
            </div>

            <div class="">
                <div class="dropdown">
                    <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-symbols-outlined mt-2">
                            settings
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item"><button class="btn btn-white" style="display:transparent;" data-bs-toggle="modal" data-bs-target="#editProfile">Edit Profile</button></a></li>
                      <li><a class="dropdown-item"><button class="btn btn-danger" style="display:transparent;" data-bs-toggle="modal" data-bs-target="#deleteProfile">Delete Account</button></a></li>
                      <li><a class="dropdown-item"><button class="btn btn-white" style="display:transparent;">Report somthing</button></a></li>
                    </ul>
                  </div>
            </div>
            
        </div>
            
    </div>

    <div>
        <div class="border border-2 border-dark mt-3 d-flex ">
            
            <div class="fixed-size-scrollable w-50 mx-2 col divs-height">
                <div class="">
                    <h3 class="text-center">{{worker.username}}</h3>
                </div>

                <div class="">
                    name: {{worker.firstname}} {{worker.lastname}}<br>
                    email: {{worker.email}}<br>
                    District: {{worker.baseDistrict}}<br>
                    Province: {{worker.baseProvince}}<br>
                    City: {{worker.baseCity}}<br>
                    Phone: {{worker.phone}}<br>
                    Services {{worker.services[0]?.serviceName}}, {{worker.services[1]?.serviceName}}<br>
                    experience description: {{worker.experienceDescription}}<br>
                </div>
            </div>
                
            <div class="fixed-size-scrollable w-50 mx-2 divs-height">
                <div class="">
                    <h3 class="text-center">All jobs</h3>
                </div>

                <div class="container">
                    <div class="row" >
                            <div class="border border-1 border-dark col-6 mb-2 margin-for-job-div" *ngFor="let job of jobs">
                                <h4>{{job.description}}</h4>
                                <span>{{job.user.username}}</span><br>
                                <span>{{job.locationDistrict}} , {{job.locationProvince}} , {{job.city}}</span><br>
                                <span>{{job.creationDateTime}}</span><br>
                                <span>phone: {{job.user.phone}}</span><br>
                                <span *ngIf="job.jobStatus == 'PENDING'">
                                    <button class="btn btn-success mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#addApplication" (click)="setCurrentJob(job)">Apply</button> 
                                </span>
                                <span *ngIf="job.jobStatus == 'IN_PROGRESS'">
                                    <span class="text-danger fw-bold fs-6">You can't Apply to this job, it is in progress</span> 
                                </span>
                                <span *ngIf="job.jobStatus == 'COMPLETED'">
                                    <span class="text-danger fw-bold fs-6">You can't Apply to this job, it was completed</span> 
                                </span>

                            </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="border border-2 border-dark d-flex mt-2">
            <div class="fixed-size-scrollable w-50 mx-2 divs-height">
                <div class="">
                    <h3 class="text-center">notifications</h3>
                </div>

                <div class="container">
                    <div class="row" >
                            <div class="d-flex border border-1 border-dark col-6 mb-2 margin-for-job-div w-100 py-2" *ngFor="let notification of workerNotificationList">
                                <div class="w-75">
                                    <span class="fw-bolder ">{{notification.description}}</span>
                                </div>
                                <div class="w-25 d-flex justify-content-center align-items-center">
                                    <button class="btn btn-danger" style="width: 100px;" (click)="deleteNotification(notification.notificationWorkerId)"><span class="material-symbols-outlined image-size">delete</span></button>
                                </div>
                            </div>
                    </div>    
                </div>

            </div>


            <div class="fixed-size-scrollable w-50 mx-2 divs-height">
                <div class="">
                    <h3 class="text-center">Jobs you have applied</h3>
                </div>

                <div class="container">
                    <div class="row" >
                            <div class="border border-1 border-dark col-6 mb-2 margin-for-job-div" *ngFor="let job of appliedJobs">
                                <h4>{{job.description}}</h4>
                                <span>User: {{job.user.username}}</span><br>
                                <span>{{job.locationDistrict}} , {{job.locationProvince}} , {{job.city}}</span><br>
                                <span>{{job.creationDateTime}}</span><br>
                                <span>Job status: <b>{{job.jobStatus}}</b></span><br>
                                <span>phone: {{job.user.phone}}</span><br>

                                <div class="mt-2 mb-4">
                                    <div>
                                        <button class="btn btn-dark mt-2 mb-2" (click)="getApplicationByJob(job)">See Application status</button><br>
                                    </div>
                                    <div>
                                        <span *ngIf="currentApplication.applicationId != 0 && currentApplication.job.jobId == job.jobId">
                                            <span>Your Application's status: {{currentApplication.applicationStatus}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--application model-->
<div class="modal" tabindex="-1" id="addApplication">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Apply for this job</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="" #applicationForm="ngForm" (ngSubmit)="createApplication(applicationForm)">
                <div class="mb-2">
                  <label for="JobName" class="form-label">Application Name (include your name and telephone as application name)</label>
                  <input type="text" class="form-control" ngModel name="applicationName">
                </div>
                <div class="mb-2">
                  <label for="description" class="form-label">Worker</label>
                  <input type="text" class="form-control" ngModel name="worker" [(ngModel)]="worker">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Job</label>
                    <input type="text" class="form-control" ngModel name="job" [(ngModel)]="currentJob">
                </div>
                <div class="mb-3">
                    <!-- <label for="input1" class="form-label">Application Status</label> -->
                    <input type="hidden" class="form-control" ngModel name="applicationStatus" [(ngModel)]="status">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Applications Date and Time </label>
                    <input type="text" class="form-control" ngModel name="applicationDateAndTime" [(ngModel)]="date">
                </div>

                <!-- <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<!-- edit worker profile -->
<div class="modal" tabindex="-1" id="editProfile">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit user Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #editWorkerForm="ngForm" (ngSubmit)="editWorkerProfile(editWorkerForm)">
              <input type="hidden" [(ngModel)]="worker.workerId" name="workerId" class="form-control">
              <input type="hidden" [(ngModel)]="worker.password" name="password" class="form-control">
              <input type="hidden" [(ngModel)]="worker.role" name="role" class="form-control">
                <div class="mb-3">
                  First Name
                  <input type="text" [(ngModel)]="worker.firstname" name="firstname" class="form-control">  <!--meke me name eka noda ngmodel ek input tag eke value ekt user ge username ek bind une nha eka hodat mthk thiygnna ngmodel danwa nm name ekk thiynnama one-->
                </div>

                <div class="mb-3">
                  Last Name
                  <input type="text" class="form-control" [(ngModel)]="worker.lastname" name="lastname">
                </div>

                <div class="mb-3">
                  Username
                  <input type="text" class="form-control" [(ngModel)]="worker.username" name="username"> 
              </div>

                <div class="mb-3">
                    Email
                    <input type="email" class="form-control" [(ngModel)]="worker.email" name="email"> 
                </div>

                <div class="mb-3">
                    Gender
                    <select class="form-select input-type-custom col" aria-label="Default select example" ngModel name="genderinput" [(ngModel)]="gender" (ngModelChange)="handleGenderValue($event)">
                      <option selected>Select Gender</option>
                      <option value="1">MALE</option>
                      <option value="2">FEMALE</option>
                    </select>

                    <input type="hidden" [(ngModel)]="gender" class="form-control input-type-custom col mx-1" ngModel name="gender">
                </div>

                <div class="mb-3">
                    Phone
                    <input type="text" class="form-control" [(ngModel)]="worker.phone" name="phone">
                </div>

                <div class="mb-3">
                    District
                    <select class="form-select input-type-custom col" aria-label="Default select example" name="input1" [(ngModel)]="workerdistrict" (ngModelChange)="handleWorkerDistrictValue($event)">
                      <option selected>Select District</option>
                      <option value="1">AMPARA</option>
                      <option value="2">ANURADHAPURA</option>
                      <option value="3">BADULAA</option>
                      <option value="4">BATTICALOA</option>
                      <option value="5">COLOMBO</option>
                      <option value="6">GALLE</option>
                      <option value="7">GAMPAHA</option>
                      <option value="8">HAMBANTHOTA</option>
                      <option value="9">JAFFNA</option>
                      <option value="10">KALUTHARA</option>
                      <option value="11">KANDY</option>
                      <option value="12">KEGALLE</option>
                      <option value="13">KILINOCHCHI</option>
                      <option value="14">KURUNEGALA</option>
                      <option value="15">MANNER</option>
                      <option value="16">MATALE</option>
                      <option value="17">MATARA</option>
                      <option value="18">MONARAGALA</option>
                      <option value="19">MULLAITIVU</option>
                      <option value="20">NUWARA_ELIYA</option>
                      <option value="21">POLLANNARUWA</option>
                      <option value="22">PUTTALAM</option>
                      <option value="23">RATHNAPURA</option>
                      <option value="24">TRINCOMALEE</option>
                      <option value="25">VAVUNIYA</option>
                  </select>

                  <input type="hidden" [(ngModel)]="workerdistrict" class="form-control input-type-custom col mx-1" ngModel name="baseDistrict">
                  
                </div>

                <div class="mb-3">
                    Province
                    <select class="form-select input-type-custom col" name="input2" [(ngModel)]="workerprovince" ngModel (ngModelChange)="handleWorkerProvinceValue($event)">
                      <option selected>Select District</option>
                      <option value="1">CENTRAL</option>
                      <option value="2">EASTERN</option>
                      <option value="3">NORTH_CENTRAL</option>
                      <option value="4">NORTHERN</option>
                      <option value="5">NORTH_WESTERN</option>
                      <option value="6">SABARAGAMUWA</option>
                      <option value="7">SOUTHERN</option>
                      <option value="8">UVA</option>
                      <option value="9">WESTERN</option>
                  </select>

                  <input type="hidden" [(ngModel)]="workerprovince" class="form-control input-type-custom col mx-1" ngModel name="baseProvince">
                </div>

                <div class="mb-3">
                    <input type="hidden" class="form-control" [(ngModel)]="worker.availability" name="availability">
                    
                    Experience description
                    <input type="text" class="form-control" [(ngModel)]="worker.experienceDescription" name="experienceDescription">
                    
                </div>

                <div class="mb-3">
                    <input type="hidden" class="form-control" [(ngModel)]="worker.services" name="services">
                </div>

                <div class="mb-3">
                    City
                    <input type="text" class="form-control" [(ngModel)]="worker.baseCity" name="baseCity">
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary mx-2" data-bs-dismiss="modal">Close</button>
                <p style="font-size: 12px; margin-top: 8px; color: red">Your changes will be updated when you login next time</p>
            </form>

        </div>
      </div>
    </div>
</div>

<!-- delete worker profile -->
<div class="modal" tabindex="-1" id="deleteProfile">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are you sure you want to delete your profile???</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure... Because all of your data will be gone and you will be logged out</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="deleteWorkerProfile(worker.workerId)">Delete</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Go back</button>
        </div>
      </div>
    </div>
  </div>
  

