<style>
    .main-div-margin{
        margin-top: 10px;
        border-radius: 15px;

    }

    .input-type-custom{
        max-width: 50%;
        display: inline-block;
        border-color: black;
        border-width: 1.6px;
    }

    .left-input-box{
        margin-right: 3px;;
    }

    .checkbox-div{
        justify-content: center;
        align-items: center;
        /* display:flex;
        flex-direction:column */
    }
    .form-class{
        margin-top:25px;
    }

    .image-class{
        height:400px;
        width:500px;
        margin-top:100px;
        margin-left:40px;
        
    }



</style>

<div>
    <header></header>
</div>

<div class="container-fluid d-flex margin-to-header mx-1">
    <div class="w-50 main-div-margin border border-dark border-2">
        <h1 class="text-center mt-3 fs-3 mb-2">Register Your Worker account</h1>
    <form class="mb-3 mx-5 form-class" #addWorkerForm="ngForm" (ngSubmit)="addWorker(addWorkerForm)">
        <div class="mb-3 row">
          <input type="text" class="form-control input-type-custom col mx-1" ngModel name="firstname" placeholder="First name">
          <input type="text" class="form-control input-type-custom col mx-1" ngModel name="lastname" placeholder="Last name">  
        </div>

        <div class="mb-3 row">
            <input type="text" class="form-control input-type-custom col mx-1" ngModel name="username" placeholder="Username">
            <input type="email" class="form-control input-type-custom col mx-1" ngModel name="email" placeholder="Email">
        </div>

        <div class="mb-3 row">
            <input type="password" class="form-control input-type-custom col mx-1" ngModel name="password" placeholder="Password">
            <select class="form-select input-type-custom col" aria-label="Default select example" ngModel ngModel name="genderinput" [(ngModel)]="gender" (ngModelChange)="handleGenderValue($event)">
                <option selected disabled>Select Gender</option>
                <option value="1">MALE</option>
                <option value="2">FEMALE</option>
            </select>

            <input type="hidden" class="form-control input-type-custom col mx-1" name="gender" [(ngModel)]="gender">
            
        </div>

          <div class="mb-3 row">
            <select class="form-select input-type-custom col" aria-label="Default select example" name="input1" [(ngModel)]="district" (ngModelChange)="handleDistrictValue($event)">
                <option selected>Select District</option>
                <option value="1">AMPARA</option>
                <option value="2">ANURADHAPURA</option>
                <option value="3">BADULAA</option>
                <option value="4">BATTICALOA</option>
                <option value="5">COLOMBO</option>
                <option value="6">GALLE</option>
                <option value="7">GAMPAHA</option>
                <option value="8">HAMBANTHOTA</option>
                <option value="9">JAFFNA</option>
                <option value="10">KALUTHARA</option>
                <option value="11">KANDY</option>
                <option value="12">KEGALLE</option>
                <option value="13">KILINOCHCHI</option>
                <option value="14">KURUNEGALA</option>
                <option value="15">MANNER</option>
                <option value="16">MATALE</option>
                <option value="17">MATARA</option>
                <option value="18">MONARAGALA</option>
                <option value="19">MULLAITIVU</option>
                <option value="20">NUWARA_ELIYA</option>
                <option value="21">POLLANNARUWA</option>
                <option value="22">PUTTALAM</option>
                <option value="23">RATHNAPURA</option>
                <option value="24">TRINCOMALEE</option>
                <option value="25">VAVUNIYA</option>
            </select>

            <input type="hidden" class="form-control input-type-custom col mx-1" name="baseDistrict" [(ngModel)]="district">

            <select class="form-select input-type-custom cols mx-1" name="input2" [(ngModel)]="province" ngModel (ngModelChange)="handleProvinceValue($event)">
                <option selected>Select District</option>
                <option value="1">CENTRAL</option>
                <option value="2">EASTERN</option>
                <option value="3">NORTH_CENTRAL</option>
                <option value="4">NORTHERN</option>
                <option value="5">NORTH_WESTERN</option>
                <option value="6">SABARAGAMUWA</option>
                <option value="7">SOUTHERN</option>
                <option value="8">UVA</option>
                <option value="9">WESTERN</option>
            </select>

            <input type="hidden" class="form-control input-type-custom col mx-1" name="baseProvince" [(ngModel)]="province">

        </div>

        <div class="mb-3 row">
            <input type="text" class="form-control input-type-custom col mx-1" ngModel name="phone" placeholder="phone Number">
            <input type="text" class="form-control input-type-custom col mx-1" ngModel name="availability12" placeholder="availability">
        </div>

        <div class="mb-3 row">
            <input type="text" class="form-control input-type-custom col mx-1" ngModel name="experienceDescription" placeholder="experience description">
            <input type="text" class="form-control input-type-custom col mx-1" ngModel name="baseCity" placeholder="city">
        </div>

        <div class="mb-3">
            <div class="mb-2">
                Select Services You provide
            </div>

            <div class="col-12">
                <div class="form-check form-check-inline">
                    <input class="form-check-input border border-dark border-2" type="checkbox" ngModel value="mason" name="model" (click)="handlecheckbox($event)">
                    <label class="form-check-label" for="inlineCheckbox1">MASON</label>
                </div>
    
                <div class="form-check form-check-inline">
                    <input class="form-check-input border border-dark border-2" type="checkbox" ngModel value="roofer" name="model" (click)="handlecheckbox($event)">
                    <label class="form-check-label" for="inlineCheckbox2">ROOFER</label>
                </div>
    
                <div class="form-check form-check-inline">
                    <input class="form-check-input border border-dark border-2" type="checkbox" id="inlineCheckbox3" name="model" value="electrician" (click)="handlecheckbox($event)">
                    <label class="form-check-label" for="inlineCheckbox3">ELECTRICIAN</label>
                </div>
    
                <div class="form-check form-check-inline">
                    <input class="form-check-input border border-dark border-2" type="checkbox" id="inlineCheckbox3" name="model" ngModel value="plumber" (click)="handlecheckbox($event)">
                    <label class="form-check-label" for="inlineCheckbox3">PLUMBER</label>
                </div>
    
                <div class="form-check form-check-inline">
                    <input class="form-check-input border border-dark border-2" type="checkbox" id="inlineCheckbox3" name="model" ngModel value="hvac" (click)="handlecheckbox($event)">
                    <label class="form-check-label" for="inlineCheckbox3">HVAC</label>
                </div>
    
                <div class="form-check form-check-inline">
                    <input class="form-check-input border border-dark border-2" type="checkbox" id="inlineCheckbox3" name="model" ngModel value="computer" (click)="handlecheckbox($event)">
                    <label class="form-check-label" for="inlineCheckbox3">COMPUTER_REPAIR</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input border border-dark border-2" type="checkbox" id="inlineCheckbox3" name="model" ngModel value="furniture" (click)="handlecheckbox($event)">
                    <label class="form-check-label" for="inlineCheckbox3">FURNITURE_REPAIR</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input border border-dark border-2" type="checkbox" id="inlineCheckbox3" name="model" ngModel value="tilesetting" (click)="handlecheckbox($event)">
                    <label class="form-check-label" for="inlineCheckbox3">TILE_SETTING</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input border border-dark border-2" type="checkbox" id="inlineCheckbox3" name="model" ngModel value="plastering" (click)="handlecheckbox($event)">
                    <label class="form-check-label" for="inlineCheckbox3">PLASTERING</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input border border-dark border-2" type="checkbox" id="inlineCheckbox3" name="model" ngModel value="cleaning" (click)="handlecheckbox($event)">
                    <label class="form-check-label" for="inlineCheckbox3">CLEANING</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input border border-dark border-2" type="checkbox" id="inlineCheckbox3" name="model" ngModel value="transport" (click)="handlecheckbox($event)"> 
                    <label class="form-check-label" for="inlineCheckbox3">TRANSPORT</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input border border-dark border-2" type="checkbox" id="inlineCheckbox3" name="model" ngModel value="painting" (click)="handlecheckbox($event)">
                    <label class="form-check-label" for="inlineCheckbox3">PAINTING</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input border border-dark border-2" type="checkbox" id="inlineCheckbox3" name="model" ngModel value="waste" (click)="handlecheckbox($event)">
                    <label class="form-check-label" for="inlineCheckbox3">WASTE_AND_ENVIRONMENTAL_SERVICES</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input border border-dark border-2" type="checkbox" id="inlineCheckbox3" name="model" ngModel value="pest" (click)="handlecheckbox($event)">
                    <label class="form-check-label" for="inlineCheckbox3">PEST_CONTROL</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input border border-dark border-2" type="checkbox" id="inlineCheckbox3" name="model" ngModel value="carpenter" (click)="handlecheckbox($event)">
                    <label class="form-check-label" for="inlineCheckbox3">CARPENTERS</label>
                </div>

                <input type="hidden" class="form-control input-type-custom col mx-1" name="services" [(ngModel)]="services">

            </div>

            
        </div>

        <div class="mb-3 row">
            <div class="form-check col checkbox-div">
                <input type="checkbox" class="form-check-input border border-dark border-2 input-type-custom" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I aggree to terms and conditions <a href="#">Terms and conditions</a></label>
                
              </div>
        </div>

        <div>
            <p class="mb-3 fw-normal">Are you a User?<a href="user/register"><span>Register as User</span></a></p> 
        </div>

        <div class="row">
            <button type="submit" class="btn btn-success col mx-1">Register</button>
            <button type="reset" class="btn btn-danger col">Reset Form</button>
        </div>
      </form>
    </div>

    <div class="row mx-4">
        <div class="col-6 align-items:center">
            <img src="assets/login6.jpg" class="image-class">
        </div>
    </div>

</div>


