<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<style>
    .send-icon-size{
        
    }

    /* .flex-10{
        flex:8
    }

    .flex-2{
        flex:1;
    }*/
</style> 
<div class="container-fluid d-flex justify-content-center align-items-center bg-white mt-5 mb-5">
    <div class="row mt-5 container-fluid">
        <h1 class="text-center text-dark">Newsletter</h1>
        
        <div class="d-flex justify-content-center align-items-center mb-5">
            <div class="w-75">
                <input type="email" class="mt-2 w-100 border border-dark border-2 py-3 px-3" placeholder="Enter you email to get latest updates">
            </div>

            <div class="mx-1 flex-2">
                <button class="btn btn-dark py-3 mt-2 px-3"><span class="material-symbols-outlined send-icon-size">send</span></button>
            </div>

        </div>

    </div>

</div>
