<style>
    .div-border-control{
        word-wrap: break-word;
    }

    h1{
        font-size: 4rem;
    }

    .first-mini-div{
        margin-left: 30px;
    }

    .btn1{
        border-width: 2px;
    }

    .icon-images{
        margin-left:111px;
    }

    .btn1:hover{
        background-color: white;
        color: black;
        border-color: black;
        border-width: 2px;
        transition: 0.3s ease-in;
    }

    .a-tags-decoration-remover{
        text-decoration: none;
        color: white;
    }

    hr {
      border: none;
      height: 2px; 
      background-color: #49ac49; 
      margin-right:30px;
      margin-left: 30px; 
    }

/* 
    .card-border{
        border-radius: 20px;
    } */

</style>

<div class="container-fluid d-flex mb-3">

    <div class="mt-5 w-50 my-auto first-mini-div">
       <h1 class="">Transforming the Way You <span class="text-success">Work</span></h1>

        <div class="mt-4">
            At Workiez, we are dedicated to providing top-notch solutions to streamline your business operations and boost productivity. Whether you are a small business owner or a large corporation, our platform offers the tools and services you need to succeed in today's competitive market.
        </div>
        <div class="d-flex mb-3 mt-5">
            <button class="btn btn-dark col mx-2 btn1" (click)="routeFunction1()">Find Work</button>
            <button class="btn btn-dark col mx-2 btn1" (click)="routeFunction1()">Post a Job</button>
        </div>

    </div>
    
    <div class="pt-2 mx-2 my-auto justify-content-center align-items-center w-50 div-border-control"> <!--my auto dammama eha patte div eke size wenas weddi anik eke size wenas wenne nha -->
        <img src="assets/showcase2.jpg" class="w-75 mx-5 mt-5"> 
    </div>
</div>

<hr>

<div class="container-fluid">
    <h3 class="text-center mt-3">Services we provide</h3>
</div>

<div class="container-fluid mt-4 d-flex col my-auto mt-5">
    <div class="div-border-control my-auto mx-1 w-25 align-items-center">
        <img src="assets/worker1.png" class="w-25 icon-images">
        <div class="text-center fs-5">Mason Work</div>
    </div>

    <div class="div-border-control my-auto mx-1 w-25">
        <img src="assets/worker2.png" class="w-25 icon-images pt-1">
        <div class="text-center fs-5">Electrical Work</div>
    </div>

    <div class="div-border-control my-auto mx-1 w-25">
        <img src="assets/worker3.png" class="w-25 icon-images">
        <div class="text-center fs-5">Transport</div>
    </div>

    <div class="div-border-control my-auto mx-1 w-25">
        <img src="assets/worker4.png" class="w-25 icon-images mt-1">
        <div class="text-center fs-5">Any service You want</div>
    </div>

</div>

<hr>

<div class="container-fluid mt-5 d-flex justify-content-center my-autos">

    <div class="card my-auto mx-5 border border-2 border-dark px-3" style="width: 18rem;">
        <img src="assets/card1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Want to get a job done?</h5>
          <p class="card-text mt-2">
            Find workers nearby in your city, province or district. we provide worker of various type of services. Find Services now
          </p>
          <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-dark btn1">Find Services</button>
        </div>
        </div>
    </div>

    <div class="card my-auto mx-5 border border-2 border-dark px-3" style="width: 18rem;">
        <img src="assets/login12.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Want to find a job?</h5>
          <p class="card-text mt-2">
            find jobs arround your city, district or province to earn some money. You can find jobs arround your area.
          </p>
          <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-dark btn1">Find jobs</button>
        </div>
        </div>
    </div>

    <div class="card my-auto mx-5 border border-2 border-dark px-3" style="width: 18rem;">
        <img src="assets/showcase1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Prices are negotiable</h5>
          <p class="card-text mt-2">
            We have a fixed range of prices for each kind of jobs. But according to the job you can negotiate the prices. 
          </p>
          <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-dark btn1">View Price policy</button>
        </div>
        </div>
    </div>

</div>

<div class="d-flex bg-image container-fluid border border-2 border-dark mt-3">
    <div class="border border-2 border-dark w-50 my-auto mx-2 mt-3">
        <h1 class="mx-4 mt-5 mb-5">Why Workiez?</h1>
    </div>

    <div class="border border-2 border-dark w-50 my-auto mx-2 mt-3">
        <ul>
            <li>Our Platform covers any type of service.</li>
            <li>Navigate through our features with ease, thanks to our intuitive and user-friendly design.</li>
            <li>Our team of experts is always ready to assist you, ensuring you make the most out of our services.</li>
            <li>Join a thriving community of like-minded professionals who share insights, resources, and opportunities.</li>

            <div>
                <button class="btn btn-primary">Get started Today!</button>
            </div>
        </ul>
    </div>

    
</div>