<style>
    .div-border-control{
        word-wrap: break-word;
    }

    h1{
        font-size: 4rem;
    }

    .first-mini-div{
        margin-left: 30px;
    }

    .btn{
        border-width: 2px;
    }

    .icon-images{
        margin-left:111px;
    }

    .btn:hover{
        background-color: white;
        color: black;
        border-color: black;
        border-width: 2px;
        transition: 0.3s ease-in;
    }

    .a-tags-decoration-remover{
        text-decoration: none;
        color: white;
    }

    hr {
      border: none;
      height: 2px; 
      background-color: #49ac49; 
      margin-right:30px;
      margin-left: 30px; 
    }

</style>

<div class="container-fluid d-flex mb-3">

    <div class="mt-5 w-50 my-auto first-mini-div">
       <h1 class="">Transforming the Way You <span class="text-success">Work</span></h1>

        <div class="mt-4">
            At Workiez, we are dedicated to providing top-notch solutions to streamline your business operations and boost productivity. Whether you are a small business owner or a large corporation, our platform offers the tools and services you need to succeed in today's competitive market.
        </div>
        <div class="d-flex mb-3 mt-5">
            <button class="btn btn-dark col mx-2 btn" (click)="routeFunction1()">Find Work</button>
            <button class="btn btn-dark col mx-2" (click)="routeFunction1()">Post a Job</button>
        </div>

    </div>
    
    <div class="pt-2 mx-2 my-auto justify-content-center align-items-center w-50 div-border-control"> <!--my auto dammama eha patte div eke size wenas weddi anik eke size wenas wenne nha -->
        <img src="assets/showcase2.jpg" class="w-75 mx-5 mt-5"> 
    </div>
</div>

<hr>

<div class="container-fluid">
    <h3 class="text-center mt-3">Services we provide</h3>
</div>

<div class="container-fluid mt-4 d-flex col my-auto mt-5">
    <div class="div-border-control my-auto mx-1 w-25 align-items-center">
        <img src="assets/worker1.png" class="w-25 icon-images">
        <div class="text-center fs-5">Mason Work</div>
    </div>

    <div class="div-border-control my-auto mx-1 w-25">
        <img src="assets/worker2.png" class="w-25 icon-images pt-1">
        <div class="text-center fs-5">Electrical Work</div>
    </div>

    <div class="div-border-control my-auto mx-1 w-25">
        <img src="assets/worker3.png" class="w-25 icon-images">
        <div class="text-center fs-5">Transport</div>
    </div>

    <div class="div-border-control my-auto mx-1 w-25">
        <img src="assets/worker4.png" class="w-25 icon-images mt-1">
        <div class="text-center fs-5">Any service You want</div>
    </div>

</div>

<div class="container-fluid">

    card components
</div>

<div class="container-fluid">
    text goes here some text think later
</div>