<style>
    .div-text-wrap{
        word-wrap: break-word;
    }

    .image-resize{
        width:30px;
        height:30px;
    }

    .image-resize-linked-in{
        height:25px;
        width:25px;
    }

    .a-decorations{
        text-decoration: none;
        color:white;
        font-size: 12px;;
    }

    /* hr {
      border: none;
      height: 2px; 
      background-color: #000000; 
      margin-right:30px;
      margin-left: 30px; 
    } */

</style>

<div class="container-fluid d-flex py-3 bg-dark">

    <div class="w-50 d-flex row">
        <div>
            <span class="fs-2 text-white">Workiez</span>
        </div>

        <div>
            <span class="fs-7 text-white">Empowering Your Work, Simplifying Your Success</span>
        </div>

        <div class="d-flex mt-3">
            <div class=""><img src="assets/instagram.png" class="image-resize mx-2"></div>
            <div class=""><img src="assets/facebook.png" class="image-resize-linked-in mx-2"></div>
            <div class=""><img src="assets/twitter.png" class="image-resize mx-2"></div>
            <div class=""><img src="assets/linkedin.png" class="image-resize mx-2"></div>
        </div>
    </div>

    <div class="w-25 div-text-wrap">
        <span class="fs-7 text-white">More workiez</span><br>
        <a href="#" class="a-decorations">sign up as User</a><br>
        <a href="#" class="a-decorations">sign up as worker</a><br>
        <a href="#" class="a-decorations">View services</a><br>
        <a href="#" class="a-decorations">Add service via emailing us</a><br>
        <a href="#" class="a-decorations">Price policy</a><br>
    </div>

    <div class="w-25">
        <h6 class="text-white">Contact-Us</h6>

        <div class="row mt-2">
            <div class="d-flex mb-2">
                <img src="assets/location.png" class="image-resize">
                <span class="text-white">508/3, heiyanthuduwa, heiyanthuduwa</span>
            </div>

            <div class="d-flex mb-2">
                <img src="assets/email.png" class="image-resize-linked-in">
                <span class="text-white">worikez&#64;info.workiezmail.com</span>
            </div>

            <div class="d-flex">
                <img src="assets/tele.png" class="image-resize">
                <span class="text-white">011-5745659 / 0770267931</span>
            </div>

        </div>

    </div>
</div>

<!-- <hr>

    <div class="d-flex justify-content-center align-items-center ro">
        <span class="text-dark">Workiez 2024</span>
    </div> -->
